In [2]:
import pandas as pd
import numpy as np
import os
import wbdata

In [3]:
owid_df = pd.read_csv('owid-covid-data.csv')

In [4]:
indicators = {'SI.POV.GINI':'gini','NY.GDP.PCAP.CD':'gdp_per_cap','EN.POP.DNST':'pop_density','SP.DYN.IMRT.IN':'infant_mort','NY.GDP.MKTP.CD':'gdp','SP.POP.TOTL':'pop'}

In [5]:
countries = [i['id'] for i in wbdata.get_country()]

In [6]:
wb_df=wbdata.get_dataframe(indicators, 'usa')

In [23]:
owid_df.shape

(118134, 62)

In [24]:
new_df = owid_df[owid_df['stringency_index']!='Nan'] 
newer_df = new_df[new_df['excess_mortality']!='Nan'] 
newest_df = newer_df[newer_df['weekly_icu_admissions_per_million']!='Nan']

In [25]:
newest_df = newest_df.drop(['iso_code', 'continent',
       'new_cases_smoothed',
       'new_deaths_smoothed', 'new_cases_smoothed_per_million',
       'new_deaths_smoothed_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'new_vaccinations_smoothed_per_million',
       'aged_70_older', 'female_smokers',
       'male_smokers', 'handwashing_facilities'], axis=1)

In [28]:
newest_df.head()

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,0.126,0.126,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
1,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
2,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
3,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
4,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN

In [29]:
newest_df['stringency_index'].replace('Nan', np.nan, inplace=True)

In [30]:
newest_df.dropna(subset = ['stringency_index'], inplace=True)

In [32]:
newest_df.head()

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,median_age,aged_65_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,0.126,0.126,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
1,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
2,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
3,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN
4,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,0.126,0.000,NaN,NaN,...,18.6,2.581,1803.987,NaN,597.029,9.59,0.5,64.83,0.511,NaN

In [34]:
newest_df['excess_mortality'].replace('Nan', np.nan, inplace=True)
newest_df.dropna(subset = ['excess_mortality'], inplace=True)

In [35]:
len(pd.unique(newest_df['location']))

89

In [44]:
locations=set(newest_df['location'])

In [45]:
current_df = owid_df[owid_df['location'] in locations]

TypeError: 'Series' objects are mutable, thus they cannot be hashed